.rel-view-button {
    display: inline-block;
    cursor: pointer;
    min-width: 38px;
    padding: 8px 8px;
    margin: 0px 6px;
    border-radius: 5px;
    color: #3d6955;
    background-color: #85cba5;
    font-size: 22px;
    line-height: 1;
    text-align: center;
}
.rel-view-button:hover, .rel-view-button.active {
    color: #FDCBA5;
    background-color:#000000;
}