.rel-tag-button {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 18px;
    margin: 7px 0px;
    color: #3d6955;
    background-color: #85cba5;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 1;
    transition:0.3s ease all;
}
.rel-tag-button:hover, .rel-tag-button.active {
    color: #FDCBA5;
    background-color: #000000;
}