.rel-cat-button {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 18px;
    margin: 7px 0px;
    color: #3d6955;
    background-color: #85cba5;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 1;
    transition:0.3s ease all;
}
.rel-cat-button:hover, .rel-cat-button.active {
    color: #FDCBA5;
    background-color: #000000;
}
.rel-header-category-children .rel-cat-button {
    padding: 6px 15px;
    font-size: 15px;
}
.rel-header-category-children .rel-header-category-children .rel-cat-button {
    padding: 5px 12px;
    font-size: 13px;
}