.rel-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.87);
    z-index: 100001;
}
.rel-modal-container {
    position: relative;
    max-width: 880px;
    min-width: 60vw;
    max-height: 80vh;
    margin: 0 30px;
    border: 10px solid #85cba5;
    background-color: #3d6955;
    overflow-y: scroll;
}
@media only screen and (max-width: 1000px) {
    .rel-modal-container {
        min-width: auto;
    }
}
.rel-modal-image {
    max-height: 180px;
    display: flex;
    background-color: #ddd;
    position: relative;
}
.rel-modal-image > img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}
.rel-modal-image .rel-modal-logo {
    background-color: rgba(61, 105, 85, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rel-modal-image .rel-modal-logo > img {
    max-height: 100%;
}
.rel-modal-details {
    padding: 18px 30px;
}
.rel-modal-close-container {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    font-size: 30px;
    line-height: 1;
    color: #fff8f3;
    transition: 0.3s ease color;
}
.rel-modal-close-container:hover {
    color: #FDCBA5;
}
.rel-modal-title h4 {
    position: relative;
    color: #FDCBA5;
    margin-bottom: 10px;
    line-height: 1.0;
    font-size: 30px;
    display: flex;
    align-items: stretch;
}
.rel-modal-title h4 a {
    display: flex;
    align-items: center;
}
.rel-modal-field-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rel-modal-field {
    display: flex;
    align-items: center;
    color: #85cba5;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.rel-modal-field svg {
    margin-right: 6px;
}
.rel-modal-field a {
    text-decoration: underline;
    color: #fff8f3;
}
.rel-modal-field a:hover {
    color: #85cba5;
}
.rel-modal-text {
    color: #fff8f3;
    font-size: 16px;
}
.rel-modal-link {
    margin-left: 10px;
    font-size: 15px;
    color: #FDCBA5;
}
.rel-modal-link:hover {
    color: #85cba5;
}
@media only screen and (max-width: 800px) {
    .rel-modal-link {
        display: none;
    }
}