.rel-header-item {
    padding: 5px 0px;
    display: flex;
    justify-content: flex-start;
}
.rel-header-filter-columns {
    display: flex;
    margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
    .rel-header-filter-columns {
        display: block;
    }
}